* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$primary-color: #3f3e3e;
$hover-color: #080808;
$white: #fff;

html,
body,
ul,
a {
  scroll-behavior: smooth;
  font-family: "Roboto", sans-serif;
  list-style-type: none;
  text-decoration: none;
}
header {
  height: 15vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: $white;

  .logo {
    img {
      width: 140px;
    }
  }

  nav {
    ul {
      display: flex;
      justify-content: space-around;
      align-items: center;
      list-style-type: none;

      li {
        padding: 1rem;
        &:last-child {
          padding: 0.7rem 1.2rem;
          background-color: $primary-color;
          border-radius: 5px;
          border: none;
          transition: all 0.2s ease-in-out;

          &:hover:last-child {
            background-color: $hover-color;

            a {
              color: $white;
            }
          }

          a {
            color: $white;
          }
        }

        a {
          color: $primary-color;
          text-transform: uppercase;
          transition: all 0.2s ease-in-out;

          &:hover {
            color: $hover-color;
          }
        }
      }
    }
  }
}

.hero-section {
  img {
    width: 100%;
  }
}

// welcome section
section.welcome {
  margin: 3rem 0;
  display: flex;
  justify-content: space-around;
  color: $primary-color;

  .welcome-container {
    margin-left: 5%;
    width: 60%;

    h2 {
      margin-bottom: 2rem;
    }

    .text-content {
      line-height: 1.7;
    }
  }

  .facilities {
    margin-left: 15%;
    width: 40%;

    h4 {
      margin-bottom: 2rem;
    }

    ul {
      li {
        display: flex;
        align-items: center;
      }
      i {
        margin-right: 1rem;
        font-size: 2rem;
        font-weight: 300;
        line-height: 1.3;
      }
    }
  }
}

// default gallery shadow

// section middle
section.middle {
  background-color: #cecece;
  padding: 3rem;
  display: flex;
  justify-content: center;

  .testimonials {
    display: flex;
    flex-direction: column;
    align-self: center;
    margin-left: 2rem;
    margin-right: 2rem;
    width: 31.25rem;

    .testimonial {
      display: flex;
      align-items: center;
      margin: 1rem auto;

      .text-content {
        color: $primary-color;

        p {
          font-style: italic;
        }
      }

      span {
        display: inline-block;
        margin-bottom: 0.4rem;
      }
    }

    .img-wrapper {
      img {
        margin-right: 1.8rem;
        width: 4rem;
        height: 4rem;
        border-radius: 50%;
      }
    }
  }

  .gallery {
    display: grid;
    grid-template-columns: repeat(6, 100px);
    grid-gap: 15px;

    .gallery__item {
      box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px,
        rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
        rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    }

    .gallery__item--1 {
      grid-column: 1 / 3;
      grid-row: 1 / 3;
    }
    .gallery__item--2 {
      grid-column: 3 / 5;
      grid-row: 1 / 3;
    }
    .gallery__item--3 {
      grid-column: 5 / 7;
      grid-row: 1 / 3;
    }
    .gallery__item--4 {
      grid-column: 1 / 3;
      grid-row: 3 /5;
    }
    .gallery__item--5 {
      grid-column: 3 / 5;
      grid-row: 3 /5;
    }
    .gallery__item--6 {
      grid-column: 5 / 7;
      grid-row: 3 /5;
    }

    img {
      // width: 100px;
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
    }
  }
}

section#gallery {
  margin: 3rem 0;

  .title-container {
    display: flex;
    justify-content: center;
    padding: 1rem 0 3rem 0;
  }

  .flex {
    display: flex;
    justify-content: center;
  }
  .gallery {
    display: grid;
    grid-template-columns: repeat(8, 120px);
    grid-gap: 2rem;

    .gallery__item {
      box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
        rgba(0, 0, 0, 0.22) 0px 15px 12px;
    }

    .gallery__item--1 {
      grid-column: 1 / 3;
      grid-row: 1 / 3;
    }
    .gallery__item--2 {
      grid-column: 3 / 5;
      grid-row: 1 / 3;
    }
    .gallery__item--3 {
      grid-column: 5 / 7;
      grid-row: 1 / 3;
    }
    .gallery__item--4 {
      grid-column: 7 / 9;
      grid-row: 1 /3;
    }
    .gallery__item--5 {
      grid-column: 1 / 3;
      grid-row: 3 /5;
    }
    .gallery__item--6 {
      grid-column: 3 / 5;
      grid-row: 3 /5;
    }
    .gallery__item--7 {
      grid-column: 5 / 7;
      grid-row: 3 /5;
    }
    .gallery__item--8 {
      grid-column: 7 / 9;
      grid-row: 3 /5;
    }
    .gallery__item--9 {
      grid-column: 1 / 3;
      grid-row: 5 / 7;
    }
    .gallery__item--10 {
      grid-column: 3 / 5;
      grid-row: 5 / 7;
    }
    .gallery__item--11 {
      grid-column: 5 / 7;
      grid-row: 5 / 7;
    }
    .gallery__item--12 {
      grid-column: 7 / 9;
      grid-row: 5 / 7;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
    }
  }
}
